<html>
	<head>
		<title></title>
	</head>
	<body>
		<form action='/signup' method='post'>
			<div style='color:red;'>{{error}}</div>
			<div>
				Email: <input type='text' id='email' name='email' value='{{email}}' />
			</div>
			<div>
				Password: <input type='password' id='password' name='password' value='' />
			</div>
			<div>
				Confirm: <input type='password' id='password2' name='password2' value='' />
			</div>
			<div align='center'>
				<input type='submit' value='Sign Up' />
			</div>
		</form>
	</body>
</html>